* {

}

body {
    text-align: center;
    background-image: url(http://wallpapercave.com/download/fitness-background-images-tB06h3M);

}


header, nav, aside, section, footer {
    display: block;
}

#container {
    text-align: left;
    width: 1000px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 100px;
    width: 1000px;
    margin: 0 auto;

}

.logo {
    font-size: 50pt;
    border: 1px solid black;
    box-shadow: 2px 2px 1px grey;
    background-color: #a33f40;
    border-radius: 20px;
    position: absolute;
    bottom: -30px;
    right: initial;
    font-family: sans-serif;
    color: white;
    text-shadow:  1px  1px 1px black,
    1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;

}
h1 .black {
    color: black;

}


.logo_2 {
    font-size: 30pt;
    position: absolute;
    left: 100px;
    top: -20px;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black,
                 1px -1px 1px black,
                -1px 1px 1px black,
                -1px -1px 1px black;
}

h1 .red {
    color: #a33f40;
}

.logo_3 {
    font-size: 20pt;
    position: absolute;
    left: 100px;
    top: 25px;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black,
                 1px -1px 1px black,
                 -1px 1px 1px black,
                 -1px -1px 1px black;
}

h2 .grey {
    color:grey;
}

nav {

    height: 33px;
    position: relative;
    width: 978px;
    font-family: arial;


}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    border-bottom: 1px solid grey;
    display: block;
    width: 133px;
    float: left;
    text-align:center;
    line-height: 32px;
    color: grey;
    text-decoration: none;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
}

nav a:hover {
    background-image: url(http://www.fennek.mobi/bilder/grau-50.png);
    color: red;
}

.bilder {
    position:relative;
    left: 2px;
    bottom: 7px;
}


.bilder img {
    border: 2px ridge grey;
    margin-bottom: 10px;
}

section {
    display: block;
    width: 85%;
    color: #bdbdbd;
    font-size: 17px;
    line-height: 1.625;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 40px;
    float: left;
    text-shadow: 1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
}

section h1 {
    font-size: 28px;
    line-height: 1.8em;
    margin-bottom: 10px;
    margin-top: 20px;
    color: grey;
}

#footer {
    height: auto;
    width: 95%;
    text-align: center;
    float:left;
    color: #bdbdbd;
    display: inline;
    padding-top: 3px;
    border-top: 1px solid #bdbdbd;
}

aside {
    position: absolute;
    top: 242px;
    left: 1442px;
    text-align: left;
}


aside p {
    line-height: 3px;
    font-size: 30pt;
    font-family: sans-serif;
    color: grey;
    text-shadow: 2px 2px 2px black,
    2px -2px 2px black,
    -2px 2px 2px black,
    -2px -2px 2px black;

}

#conquer {
    width: 280px;
    position: absolute;
    top: 310px;
    left: 142px;
    text-align: left;
    transform: rotate(-20deg);
}

#conquer p {
    font-size: 50pt;
    color: grey;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

#footer a {
    color: #bdbdbd;
}



