

 html, body{

    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-family: "Andale Mono";
    background: url(http://us.123rf.com/450wm/oleksiy/oleksiy1209/oleksiy120900014/15230459-schwarz-gerissenen-beton-textur-nahaufnahme-hintergrund.jpg);
}

 h1{
     height: 80px;
     margin: auto;
     font-family: "Comic Sans MS";


 }
#rechts{
    position:absolute;
    up:0;
    left:1720px;
    z-index: 1;

}

#rechts a:link     {color:blue; text-decoration: none;}
#rechts a:visited  {color:red; text-decoration: line-through;}
#rechts a:focus    {color:green; text-decoration: overline;}
#rechts a:hover    {color: aqua; text-decoration: blink;}
#rechts a:active   {color: deeppink; text-decoration: double;}



table {
    position: absolute;
    left: 185px;
    width: 80%;
    height: 80%;
    background: url(http://www.mydealz.de/images/merchants/outfitter_unternehmen.jpg)  ;
    margin: auto;


}

.preis {
    text-align: center;
}
